<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106460303-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments)
        }
        ;
        gtag('js', new Date());

        gtag('config', 'UA-106460303-1');
    </script>

    <meta charset="utf-8">
    <META NAME="Author" CONTENT="Timothy LE ROCH">
    <META NAME="Keywords" CONTENT="psychothérapeute, cabinet de psychothérapie, l'hermitage, nelly le lu, psychologue, freud, jung, rennes, psychothérapie, nelly le lu,
psychothérapeute,psycho thérapeute, psycho therapeute, ">
    <META NAME="Description"
          CONTENT="Nelly le lu, psychopraticienne vous accueille dans son cabinet à l'hermitage(35590)">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nelly LE LU - Cabinet de psychothérapie - L'Hermitage - 35590</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/images/favicon.ICO') }}"/>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/core/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/core/css/style.css') }}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/core/js/bootstrap.min.js') }}"></script>

    {% block head %}
    {% endblock %}
</head>
<body id="fullpage">

{% block body %}
{% endblock %}
<footer>
    <script>
    </script>

    {% block footer %}
    {% endblock %}

</footer>
</body>
</html>
